body {
	font-family: Calibri, Roboto, sans-serif;
	width: 66%;
	margin: auto;
	background-color: dimgray;
	color: white;
}

h1 {
	text-align: center;
}

#chain {
	background-color: black;
	color: white;
	padding: 0.2em;
}

#chain_validity{
	margin: 0.5em;
}

.block {
	background-color: darkslategray;
	margin: 0.5em;
	padding: 1em;
	display: flex;
}

.metadata {
	width: 10em;
	float: left;
}

.location {
	font-size: 0.7em;
	height: 100px;
}

.message_data {
	float: left;
}

.creation_date {

}

.author {
	
}

.message {
	border-left-color: DarkTurquoise;
	border-left-width: 1px;
	border-left-style: solid;
	
	margin-left: 1em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	padding-left: 1em; 
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	
	font-style: italic;
}