h1 {
	text-align: center;
}

#messages {
	margin-top: 1em;
}

#messages .col {
	border-left-color: DarkTurquoise;
	border-left-width: 2px;
	border-left-style: solid;
	margin-top: 3px;
}

.dtg {
	color: darkgrey;
	margin-top: 3px;
}

.col .author {
	color: darkgrey;
}