<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>LogChain</title>
<!-- favicon cross-platform compatibility -->
<link rel="apple-touch-icon" sizes="180x180"
	href="/ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32"
	href="/ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16"
	href="/ico/favicon-16x16.png">
<link rel="manifest" href="/ico/site.webmanifest">
<link rel="mask-icon" href="/ico/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="/lib/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/style.css">
</head>
<body>
	<!-- Modal window for input form -->
	<div class="modal fade" id="openMessageForm" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">Add log message</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="addMessageForm">
						<div class="form-group">
							<label for="authorInput">Author</label>
							<input type="text" class="form-control" id="authorInput" placeholder="Enter an identifier for the author">
						</div>
						<div class="form-group">
							<label for="messageTextArea">Message</label>
							<textarea class="form-control" id="messageTextArea" rows="7"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="formSaveButton">Save log message</button>
				</div>
			</div>
		</div>
	</div>
	<!--  content -->
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<h1>LogChain</h1>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>A logbook of messages stored on a blockchain.</p>
				<!-- button to launch modal -->
				<button type="button" class="btn btn-info" data-toggle="modal"
					data-target="#openMessageForm">Add log message</button>
			</div>
		</div>
		<div id="messages">
		</div>
	</div>
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/lib/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="/lib/moment.js/2.24.0/moment.min.js"></script>
	<script>
		$(document).ready(function() {
			reloadAllLogMessages();
							
			$.get("/api/blockchain/valid", function(data) {
				if (typeof data == "boolean" && data) {
					$("#messages").prepend("<div id='chain_validity'><font color='green'>&#10004;</font> This LogChain is valid.</div>");
				} else {
					$("#messages").prepend("<div id='chain_validity'><font color='red'>&#10008;</font> This LogChain is not valid.</div>");
				}
			});
		});
		
		$("#formSaveButton").click(function(e){
			e.preventDefault();
			var newMessage = {};
			newMessage.author = $("#authorInput").val();
			newMessage.message = $("#messageTextArea").val();
			console.dir(newMessage);
			$.ajax({method: "POST", url: "/api/blockchain/logblock", data: JSON.stringify(newMessage), dataType: "json", processData: false, contentType: "application/json",  success: reloadAllLogMessages, error: handleError })
		});
		
		function reloadAllLogMessages(){
			$("#openMessageForm").modal("hide");
			$.getJSON("/api/blockchain", function(data) {
				$("#messages").html("");
				$.each(data, function(key, value) {
					var createdDateIEFriendlyString = value.createdDate.substr(0, 26) + ":" + value.createdDate.substr(26);
					console.log(createdDateIEFriendlyString);
					var messageDate = new Date(createdDateIEFriendlyString);
					$("#messages").append("<div class='row'>"
						+ "<div class='col-2 dtg'>"
							+ moment(value.createdDate).format("ddd DHHmm MMM YY")
						+ "</div>"
						+ "<div class='col'>"
							+ "<div class='author'>"
							+ value.author
							+ " wrote:</div>"
							+ "<div class='message'>"
							+ value.message
							+ "</div>"
						+ "</div>"
						+ "</div>"
					);
				});
			});
		}
		
		function handleError(jqXHR, textStatus, errorThrown){
			$("form").append("<div class='alert alert-danger' role='alert'>An error occurred: " + textStatus + " " + errorThrown + "</div>");
		}
	</script>
</body>
</html>